name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 4 * * 2'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - java: 8
          - java: 11
    steps:
    - uses: actions/checkout@v2.3.5
    - uses: olafurpg/setup-scala@v13
      with:
        java-version: "adopt@1.${{ matrix.java }}"
    - uses: coursier/cache-action@v6
    - run: sbt -v "+ test"
